<!-- About-->
<section class="page-section " id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">We've got what you need!</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Order now and get your order as quickly as possible!</p>
                <a class="btn btn-light btn-xl" href="#services"> Shopping Now</a>
            </div>
        </div>
    </div>
</section>