 <!-- start footer -->
 <footer class="main-footer ">
    <div class="container">
      <div class="footer-content">
        <div class="row">
          <div class="col-md-4 col-sm-12 footer-column">
            <div class="logo-widget footer-widget">
              <figure class="logo-box">
                <h3 class="text-white">LAPTOP STORE</h3>
              </figure>
              <div class="text">
                <p>
                  Lorem ipsum dolor amet consectetur adi pisicing elit sed
                  eiusm tempor incididunt ut labore dolore magna aliqua enim
                  ad minim veniam quis.nostrud exercita.laboris nisi ut
                  aliquip ea commodo conse quatuis aute irure.
                </p>
              </div>
              
            </div>
          </div>
          <div class="col-md-4 col-sm-12 offset-lg-2 footer-column">
            <div class="service-widget footer-widget">
              <div class="footer-title">Brands</div>
              <ul class="list">
                <li><a href="#">HP</a></li>
                <li><a href="#">DELL</a></li>
                <li><a href="#">Intel</a></li>
                <li><a href="#">Lenovo</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <!-- main-footer end -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 column">
          <div class="copyright">
            <a href="#">Koot Magdy</a> &copy; 2024 All Right Reserved
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 column">
          <ul class="footer-nav">
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- end of footer -->